@model Winnie_Learning_Programme.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPasswordConfirmation", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your otp code.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="~/Content/assets/images/regist3.jpg"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-3 text-black">
                                <h4 class="mb-3 text-uppercase">
                                    Forgot Password Confirmation
                                </h4>
                                <i>Please enter your otp code.</i>
                                <span>@ViewBag.messages</span>
                                <br />
                                <div class="form-group col-md-12 formGroup">
                                    @Html.LabelFor(m => m.OTP, new { @class = "formLabel" })
                                    @Html.TextBoxFor(m => m.OTP, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OTP, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-5">
                                        <input type="submit" class="btn btn-primary" value="Verify OTP" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
