@model Winnie_Learning_Programme.Models.CoursesViewModel
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">
<body>
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>All Courses</h2>
                        <span>Start Your Learning Jonery with our platform.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Latest Courses</h2>
                        <span>Check out all of our courses.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                @if (Model.Courses.Count > 0)
                {
                    foreach (var course in Model.Courses)
                    {
                    <div class="col-lg-4">

                        <div class="item">
                            
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="@Url.Action("CourseDetail","Courses", new { id = course.CourseId })"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="@Url.Action("CourseDetail","Courses", new { id = course.CourseId })"><i class="fa fa-star"></i></a></li>
                                        <li><a href="@Url.Action("CourseDetail","Courses", new { id = course.CourseId })"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="@course.Url" alt="">
                            </div>
                            <div class="down-content">
                                <h4>@course.CourseName</h4>
                                <span>$@course.Price.00</span>
                                <ul class="stars">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        <li><i class="fa fa-star"></i></li>
                                    }

                                </ul>
                            </div>

                        </div>
                    </div>
                    }
                }
                </div>
            <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

