
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="first-item">
                    <h4>Address</h4>
                    <ul>
                        <li><a href="#">Sanchaung Township, Yangon, Myanmar</a></li>
                        <li><a href="#">wwk773@gmail.com</a></li>
                        <li><a href="#">09-252587215</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Courses &amp; Categories</h4>
                <ul>
                    <li><a href="@Url.Action("Courses","Courses")">For Beginner Level</a></li>
                    <li><a href="@Url.Action("Courses","Courses")">For Mid-senior Level</a></li>
                    <li><a href="@Url.Action("Courses","Courses")">For Senior Level</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Homepage</a></li>
                    <li><a href="@Url.Action("About","Home")">About Us</a></li>
                    <li><a href="@Url.Action("Portfolio","Home")">My Portfolio</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>
                        Copyright © 2023 Winnie Learning Program. All Rights Reserved.
                    </p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
