<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <script src="~/Scripts/custom.js"></script>
    
    <title>My Learning Program</title>
</head>
@Html.Partial("_NavBar")

@RenderBody()
<hr />
<footer>
    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
</footer>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@RenderSection("scripts", required: false)
</html>
