<header class="header-area header-sticky">
    <div class="">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    @*<a href="index.html" class="logo">
                        <img src="~/Content/assets/images/logo.png" sizes="20">
                    </a>*@
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <div class="col-lg-offset-4"> @Html.Partial("_LoginPartial")</div>
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> Home</a></li>

                        <li class="scroll-to-section"><a href="@Url.Action("Courses","Courses")">All Courses</a></li>
                        <li class="scroll-to-section"><a href="@Url.Action("PopularCourse","Courses")">Popular Courses</a></li>
                        <li class="scroll-to-section"><a href="@Url.Action("YourCourse","Courses")">Your Courses</a></li>
                        <li class="submenu">
                            <a href="javascript:;">About Us</a>
                            <ul>
                                <li><a href="@Url.Action("About","Home")">About Us</a></li>
                                <li><a href="@Url.Action("Portfolio","Home")">My Portfolio</a></li>
                                <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>