@model Winnie_Learning_Programme.Models.CoursesViewModel
@{
    ViewBag.Title = "About";
}
@{ 
    var startdate = new DateTime(2023, 05, 03);
    var date = DateTime.Now - startdate;
}

<html lang="en">
<body>
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>About Us</h2>
                        <span>Let's count our valuable days together!</span>
                        <hr />
                        <span>@date.Days Days Together</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="~/Content/assets/images/couple.jpg" alt="" width="300" height="700">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>Let's count our valuable days together!</h4>
                        <hr />
                        <strong>@date.Days Days Together</strong>
                        <span>Today marks another year of beautiful memories, laughter, and love shared between us.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>As we look back on our journey together, I'm filled with gratitude for every moment we've experienced side by side.</p>
                        </div>
                        <p>Each day with you is a blessing, and I'm excited about the future we continue to build.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->
    <!-- ***** Our Team Area Starts ***** -->
    <section class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Amazing Team</h2>
                        <span>Our team provide mutiple services with better way as much as we can..</span>
                    </div>
                </div>
                @foreach (var stu in Model.Students)
                {
                    <div class="col-lg-4">
                        <div class="team-item">
                            <div class="thumb">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a href="#"><i class="fa fa-user">Detail</i></a>
                                    </div>
                                </div>
                                <img src="@stu.ImgUrl">
                            </div>
                            <div class="down-content">
                                <h4>@stu.StudentName</h4>
                                <span>Specilization @stu.Major</span>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    <!-- ***** Our Team Area Ends ***** -->
    <!-- ***** Services Area Starts ***** -->
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Services</h2>
                        <span>Our team provide mutiple services with better way as much as we can..</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Synther Vaporware</h4>
                        <p>Lorem ipsum dolor sit amet, consecteturti adipiscing elit, sed do eiusmod temp incididunt ut labore, et dolore quis ipsum suspend.</p>
                        <img src="~/Content/assets/images/service-01.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Locavore Squidward</h4>
                        <p>Lorem ipsum dolor sit amet, consecteturti adipiscing elit, sed do eiusmod temp incididunt ut labore, et dolore quis ipsum suspend.</p>
                        <img src="~/Content/assets/images/service-02.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Health Gothfam</h4>
                        <p>Lorem ipsum dolor sit amet, consecteturti adipiscing elit, sed do eiusmod temp incididunt ut labore, et dolore quis ipsum suspend.</p>
                        <img src="~/Content/assets/images/service-03.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Services Area Ends ***** -->
</body>

</html>
