@model Winnie_Learning_Programme.Models.MailModel
@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Contact Us</h2>
                        <span>Please feel free to contact us.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** Contact Area Starts ***** -->
    <div class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30555.32806686409!2d96.11356757224495!3d16.80570592504415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1eb46fd85e9eb%3A0xf8fce784abe0fff6!2sSanchaung%20Township%2C%20Yangon!5e0!3m2!1sen!2smm!4v1689925789799!5m2!1sen!2smm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Say Hello. Don't Be Shy!</h2>
                        <span>We will provide better services for you.</span>
                        <div id="msg"></div>
                    </div>
                    <form id="contact">
                        @using (Html.BeginForm(new { ReturnUrl = "/Home/Contact" }))
            {
                        @Html.AntiForgeryToken()
                        <div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Subject, "", new { @class = "form-control", @placeholder = "Please Enter Subject" })
                                @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.SenderName, "", new { @class = "form-control", @placeholder = "Please Enter Name" })
                                @Html.ValidationMessageFor(m => m.SenderName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.From, "", new { @class = "form-control", @placeholder = "Please Enter Email Address" })
                                @Html.ValidationMessageFor(m => m.From, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.Body, new { @class = "form-control", @placeholder = "Please Enter Message" })
                                @Html.ValidationMessageFor(m => m.Body, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="submit" id="btnSubmit" value="Submit" class="main-dark-button" />
                            </div>
                        </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Contact Area Ends ***** -->


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script src="~/Content/assets/js/jquery-2.1.0.min.js"></script>
    

</body>

</html>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmit").click(function (e) {
            var data = $('#contact').serialize();
            $.ajax({
                type: 'Post',
                url: '/Mail/SendMail',
                dataType: 'json',
                data: data,
                success: function (result) {
                    if (result == true) {
                        $("#msg").html("We sent your message to our service team.");
                    }
                }
            });
        });
    });
</script>